*{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

@media screen and (max-width:400px){
    *{
        font-size: 1rem;
    }
}

:root{
    --azul: rgb(0, 112, 192);
    --gris_claro: rgb(175, 171, 171);
    --gris_oscuro: rgb(104, 104, 105);
    --blanco: rgb(255, 255, 255);
}

.header-container{
    background-color:  var(--azul);
    padding: 0.25em 0.5em;
    height: 12vh;
    width: 100vw;
}

.header-container_svg{
    width: 250px;
    height: 75px;
}

@media screen and (max-width:400px){
    .header-container_svg{
        width: 200px;
        height: 75px;
    }
}
/*-----------------------------------------------------------------------------------------------------------*/
.slide-container{
    background-color: var(--blanco);
    width: 100vw;
}

.slide-container_div{
    max-height: 400px;
    display: flex;
    justify-content: center ;
}

.slide-container_video{
    max-height: inherit;
    object-fit: none;
    width: 100%;
}


/*------------------------------------------------------------------------------------------------------------*/
.main-container{
    padding: 0 2vw;
    border-top: 1px solid #000;
}

.main-container_div{
    display: flex;
    padding: 1vh 1vw;
    flex-basis: 100%;
    margin-top: 5rem;
}

.main-container_item{
    padding-left: 1vw;
}

img{
    display: block;
    width: 50%;
    object-fit: none;
}

/*------------------------------------------------------------------------------------------------------------*/
.socialm-container{
    background-color: var(--gris_oscuro);
    padding-top: 5vh;
    display: flex;
    height: 15vh;
    justify-content: space-evenly;
}

.socialm-container_item{
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media screen and (max-width:400px){
    .socialm-container_item b{
        visibility: hidden;
    }
}

/*------------------------------------------------------------------------------------------------------------*/
.footer-container{
    background-color: var(--gris_claro);
    height: 10vh;
    font-size: 15px;
}

.footer-container_items{
    text-align: center;
}